Repository n-claes/legolas, pull requests merged in 2021-07, with the labels that each got.

#72 Add mean molecular weight support to units
  post_processing/pylbo/automation/defaults.py
  post_processing/pylbo/utilities/datfile_utils.py
  src/dataIO/datfile_changes.txt
  src/dataIO/mod_input.f08
  src/dataIO/mod_output.f08
  src/equilibria/smod_equil_discrete_alfven.f08
  src/equilibria/smod_equil_gold_hoyle.f08
  src/equilibria/smod_equil_magnetothermal_instabilities.f08
  src/mod_units.f08
  src/mod_version.f08
  tests/regression_tests/test_discrete_alfven.py
  tests/regression_tests/test_gold_hoyle.py
  tests/regression_tests/test_magnetothermal.py
  tests/regression_tests/test_magnetothermal_arnoldi_si.py
  tests/unit_tests/mod_suite_utils.f90
  tests/unit_tests/mod_test_units.pf
Labels: feature

#73 Postprocessing
  post_processing/pylbo/_version.py
  post_processing/pylbo/automation/defaults.py
  post_processing/pylbo/data_containers.py
  post_processing/pylbo/exceptions.py
  post_processing/pylbo/file_handler.py
  post_processing/pylbo/utilities/datfile_utils.py
  post_processing/pylbo/visualisation/eigenfunction_interface.py
  post_processing/pylbo/visualisation/eigenfunctions.py
  post_processing/pylbo/visualisation/figure_manager.py
  post_processing/pylbo/visualisation/postprocessed.py
  post_processing/pylbo/visualisation/spectra.py
  pylbo_wrapper.py
  src/CMakeLists.txt
  src/dataIO/datfile_changes.txt
  src/dataIO/mod_input.f08
  src/dataIO/mod_logging.f08
  src/dataIO/mod_output.f08
  src/equilibria/smod_equil_tc_hmri.f08
  src/equilibria/smod_equil_tc_pinch.f08
  src/equilibria/smod_equil_viscoresistive_tube.f08
  src/main.f08
  src/mod_equilibrium.f08
  src/mod_global_variables.f08
  src/mod_postprocessing.f08
  src/mod_spline_functions.f08
  src/mod_types.f08
  src/mod_version.f08
  tests/unit_tests/mod_test_variables.pf
Labels: feature, pylbo

#74 Pylbo: extra unit tests + code coverage
  .github/codecov.yml
  .github/workflows/legolas.yml
  .github/workflows/pylbo.yml
  post_processing/pylbo/_version.py
  post_processing/pylbo/testing.py
  post_processing/pylbo/visualisation/figure_manager.py
  post_processing/pylbo/visualisation/spectra.py
  tests/pylbo_tests/.coveragerc
  tests/pylbo_tests/conftest.py
  tests/pylbo_tests/test_continua.py
  tests/pylbo_tests/test_dataseries.py
  tests/pylbo_tests/test_dataset.py
  tests/pylbo_tests/test_generator.py
  tests/pylbo_tests/test_loading.py
  tests/pylbo_tests/test_runner.py
  tests/pylbo_tests/test_toolbox.py
  tests/pylbo_tests/test_visualisations_profiles.py
  tests/pylbo_tests/test_visualisations_spectra.py
  tests/pylbo_tests/utility_files/v1.1.2_datfile_efs.dat
  tests/pylbo_tests/utility_files/v1.1.2_datfile_eta.dat
Labels: pylbo, tests
