Repository n-claes/legolas, pull requests merged in 2021-09, with the labels that each got.

#75 New feature: eigenfunction subset
  .gitignore
  post_processing/pylbo/automation/defaults.py
  post_processing/pylbo/data_containers.py
  post_processing/pylbo/exceptions.py
  post_processing/pylbo/file_handler.py
  post_processing/pylbo/utilities/datfile_utils.py
  post_processing/pylbo/visualisation/derived_eigenfunctions.py
  post_processing/pylbo/visualisation/eigenfunction_interface.py
  post_processing/pylbo/visualisation/postprocessed.py
  post_processing/pylbo/visualisation/spectra.py
  pylbo_wrapper.py
  src/CMakeLists.txt
  src/dataIO/datfile_changes.txt
  src/dataIO/mod_input.f08
  src/dataIO/mod_logging.f08
  src/dataIO/mod_output.f08
  src/eigenfunctions/mod_eigenfunctions.f08
  src/eigenfunctions/smod_base_efs.f08
  src/eigenfunctions/smod_derived_efs.f08
  src/eigenfunctions/smod_derived_pp_efs.f08
  src/eigenfunctions/smod_ef_operations.f08
  src/main.f08
  src/mod_check_values.f08
  src/mod_eigenfunctions.f08
  src/mod_global_variables.f08
  src/mod_interpolation.f08
  src/mod_postprocessing.f08
  src/mod_types.f08
  src/mod_version.f08
  tests/pylbo_tests/conftest.py
  tests/pylbo_tests/test_eigenfunction_subset.py
  tests/pylbo_tests/test_loading.py
  tests/pylbo_tests/utility_files/v1.1.4_datfile.dat
  tests/pylbo_tests/utility_files/v1.1.4_datfile_subset.dat
  tests/pylbo_tests/utility_files/v1.1.4_datfile_subset_defs.dat
  tests/regression_tests/answers/answer_adiabatic_homo_ef_subset.dat
  tests/regression_tests/answers/answer_adiabatic_homo_ef_subset.log
  tests/regression_tests/answers/answer_resistive_homo_ef_subset.dat
  tests/regression_tests/answers/answer_resistive_homo_ef_subset.log
  tests/regression_tests/regression.py
  tests/regression_tests/test_adiabatic_homo_ef_subset.py
  tests/regression_tests/test_resistive_homo_ef_subset.py
  tests/unit_tests/CMakeLists.txt
  tests/unit_tests/mod_suite_utils.f90
  tests/unit_tests/mod_test_boundaries.pf
  tests/unit_tests/mod_test_conduction.pf
  tests/unit_tests/mod_test_eigenfunctions.pf
  tests/unit_tests/mod_test_grid.pf
  tests/unit_tests/mod_test_input.pf
  tests/unit_tests/mod_test_interpolation.pf
  tests/unit_tests/mod_test_matrixoperations.pf
  tests/unit_tests/mod_test_resistivity.pf
  tests/unit_tests/mod_test_splines.pf
  tests/unit_tests/mod_test_subblock.pf
  tests/unit_tests/mod_test_units.pf
  tests/unit_tests/mod_test_valuechecks.pf
  tests/unit_tests/mod_test_variables.pf
  tests/unit_tests/test_parfiles/parfile_invalid_subset_center.par
  tests/unit_tests/test_parfiles/parfile_invalid_subset_radius.par
  tests/unit_tests/test_parfiles/parfile_only_derived_efs.par
Labels: feature, core, restructuring

#77 Pylbo: improved subplot addition
  post_processing/pylbo/_version.py
  post_processing/pylbo/utilities/toolbox.py
  post_processing/pylbo/visualisation/figure_manager.py
  post_processing/pylbo/visualisation/matrices.py
  post_processing/pylbo/visualisation/spectra.py
  post_processing/setup.py
  tests/pylbo_tests/test_figure_manager.py
  tests/pylbo_tests/test_toolbox.py
  tests/pylbo_tests/test_visualisations_spectra.py
Labels: bug, pylbo

#78 Development utilties
  setup_tools/buildlegolas.sh
  src/CMakeLists.txt
  src/includes/assert.fpp
  src/utils/mod_assert.f08
  src/utils/mod_timing.f08
Labels: build
