Repository n-claes/legolas, pull requests merged in 2023-04, with the labels that each got.

#124 Pylbo: continuum-eigenfunction resonances
  post_processing/pylbo/data_containers.py
  post_processing/pylbo/utilities/datfiles/file_reader.py
  post_processing/pylbo/utilities/toolbox.py
  post_processing/pylbo/visualisation/continua.py
  post_processing/pylbo/visualisation/eigenfunctions/derived_eigfunc_handler.py
  post_processing/pylbo/visualisation/eigenfunctions/eigfunc_handler.py
  post_processing/pylbo/visualisation/eigenfunctions/eigfunc_interface.py
  post_processing/pylbo/visualisation/spectra/spectrum_figure.py
  post_processing/pylbo/visualisation/spectra/spectrum_merged.py
  post_processing/pylbo/visualisation/spectra/spectrum_single.py
Labels: feature, pylbo, pylbo-backend

#132 Minor changes and edits related to 2.0
  post_processing/pylbo/visualisation/continua.py
  src/boundaries/smod_natural_bounds_conduction.f08
  src/dataIO/mod_console.f08
  src/equilibria/smod_user_defined.f08
  src/main.f08
  src/matrices/smod_conduction_matrix.f08
  src/mod_equilibrium.f08
  src/mod_inspections.f08
  src/physics/mod_heatloss.f08
  src/physics/mod_physics.f08
  src/physics/mod_thermal_conduction.f08
  src/settings/mod_io_settings.f08
  src/settings/mod_physics_settings.f08
  src/settings/mod_settings.f08
  src/settings/mod_solver_settings.f08
  src/solvers/arnoldi/mod_arpack_type.f08
  tests/unit_tests/mod_test_conduction.pf
  tests/unit_tests/mod_test_inspections.pf
  tests/unit_tests/mod_test_solar_atmosphere.pf
Labels: bug, core, pylbo

#133 Update docs for Legolas 2.0
  .github/workflows/docs.yml
  .github/workflows/docs_develop.yml
  .github/workflows/docs_stable.yml
  README.md
  docs/_data/navigation.yml
  docs/about.md
  docs/general/equilibria.md
  docs/general/own_setup.md
  docs/general/parameter_file.md
  docs/general/solvers.md
  docs/getting-started/installation.md
  docs/getting-started/running.md
  docs/getting-started/source_docs.md
  docs/index.md
  docs/physics/equations.md
  docs/physics/units.md
  docs/publications.md
  docs/pylbo/legolas_interface.md
  docs/pylbo/using_pylbo.md
  docs/testing/about_tests.md
Labels: docs

#134 Update RK45 integration routines
  src/mod_integration.f08
  src/physics/mod_solar_atmosphere.f08
  tests/unit_tests/mod_test_integration.pf
Labels: performance, restructuring

#135 Fix malloc error 'Incorrect checksum for freed object' for custom spacing functions
  src/main.f08
  src/settings/mod_io_settings.f08
Labels: bug

#136 Allow for optional saving of background state
  docs/general/parameter_file.md
  post_processing/pylbo/automation/defaults.py
  post_processing/pylbo/data_containers.py
  post_processing/pylbo/exceptions.py
  post_processing/pylbo/utilities/datfiles/file_reader.py
  post_processing/pylbo/utilities/datfiles/header.py
  post_processing/pylbo/utilities/datfiles/header_legacy.py
  post_processing/pylbo/visualisation/api.py
  post_processing/pylbo/visualisation/continua.py
  post_processing/pylbo/visualisation/modes/mode_data.py
  post_processing/pylbo/visualisation/spectra/spectrum_figure.py
  post_processing/pylbo/visualisation/spectra/spectrum_multi.py
  post_processing/pylbo/visualisation/spectra/spectrum_single.py
  src/dataIO/mod_console.f08
  src/dataIO/mod_input.f08
  src/dataIO/mod_output.f08
  src/settings/mod_io_settings.f08
  tests/pylbo_tests/conftest.py
  tests/pylbo_tests/test_dataseries.py
  tests/pylbo_tests/test_dataset.py
  tests/pylbo_tests/test_visualisations_profiles.py
  tests/pylbo_tests/test_visualisations_spectra.py
  tests/pylbo_tests/utility_files/v2.0.0_tear_nobg.dat
Labels: feature, core, tests-pylbo, pylbo-backend

#137 Addition of new cooling curves
  docs/general/parameter_file.md
  docs/physics/equations.md
  src/CMakeLists.txt
  src/physics/cooling_curves/mod_cooling_curve_names.f08
  src/physics/cooling_curves/mod_cooling_curves.f08
  src/physics/cooling_curves/mod_data_colgan.f08
  src/physics/cooling_curves/mod_data_dalgarno2.f08
  tests/unit_tests/mod_test_cooling_tables.pf
Labels: feature
